<div *ngIf="moviesList.length === 0" class="mt-5 text-center">
  No data to display. Please register your films to be shown here.
</div>
<table
  class="table table-striped mt-5 text-center"
  *ngIf="moviesList.length > 0"
>
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Genre</th>
      <th scope="col">Release date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of moviesList">
      <td>{{ movie?.title }}</td>
      <td>{{ movie.genre }}</td>
      <td>{{ movie?.releaseDate }}</td>
    </tr>
  </tbody>
</table>
